*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(252, 252, 252);
}
header{
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 423px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 70px;
    margin: 0 auto;
}
nav .app-link a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}
nav .nav-item ul{
    display: flex;
    align-items: center;
    list-style: none;

}
nav .nav-item ul li a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: lighter;
}
.content-wrapper{
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.content-wrapper img{
    width: 300px;
    height: 60px;
}

.content-wrapper h1{
    font-size: 2.2rem;
    font-weight: 100;
    margin: 30px 0;
    letter-spacing: 2px;
}
.content-wrapper h1 span{
    font-weight: 600;
}
.search-container{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 3.4rem;
    width: 55%;
    border-radius: 8px;

}
.search-container .left-search, .search-container .right-search{
    display: inline-flex;
    padding: 0 1rem;
}
.search-container .left-search{
    width: 30%;
    border-right: 2px solid rgb(163, 159, 159); 

}
.search-container .right-search{
    width: 70%;
    
}
.search-container input{
    border: 0;
    outline: none;
    font-size: 1rem;
    background: transparent;
    color: grey;
    width: 100%;
    margin-left: 6px;
}
.search-container .left-search i{
    color: rgb(227, 110, 110);
    margin-top: 1rem;
    font-size: 20px;
}
.search-container .right-search i{
    color: rgb(158, 157, 157);
    margin-top: 1rem;
    font-size: 20px;
}
#down-arrow{
    color: rgb(163, 162, 162);
    margin-bottom: 15px;
}
/* Content part */

.order-section{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.order-section .order{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 40px;

}
.order .card{
    width: 30%;
    margin: 12px;
    border-radius: 8px;
    border: 1px solid rgb(180, 176, 176);
    transition: transform 0.5s;
    position: relative;
}
.order .card img a{
    width: 100%;
}
.order .card a img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
}
.order .card  :hover{
    transform: scale(1.1);
}

.order .card .content{
    text-align: left;
    width: 100%;
    padding: 0 12px;
    position: absolute;
    bottom: 0;
    background: white;
    border-radius: 8px;
}
.order.card .content .heading{
    font-size: 1rem;
    margin: 10px 0;
    
}
.order.card .content .text{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.menu-icon{
    color: white;
    font-size: 30px;
    display: none;
}

/* Media Query for small screen size */
@media only screen and (max-width: 768px){
    .menu-icon{
        display: block;
    }

    nav .app-link a, nav .nav-item ul{
        display: none;
    }

    .content-wrapper h1{
        font-size: 1.5rem;

    }
    .content-wrapper img{
        width: 250px;
    }
}
